run = "node server/ultralight-server.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[packager]
language = "nodejs"
[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/*.{js,jsx,ts,tsx}"
[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[deployment]
run = ["node", "server/ultralight-server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-24_05"
