modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "All Microservices"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Dev Server"
author = 39751827
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/index.ts"

[[workflows.workflow]]
name = "Start NestJS Server"
author = 39751827
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/main.ts"

[[workflows.workflow]]
name = "Start Microservices"
author = 39751827
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/recognition/main.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/social/main.ts  "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/main.ts"

[[workflows.workflow]]
name = "Start Application"
author = 39751827
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"

[[workflows.workflow]]
name = "Microservices"
author = 39751827
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/index.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/social/main.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/recognition/main.ts"

[[workflows.workflow]]
name = "All Microservices"
author = 39751827
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/main.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/social/main.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/recognition/main.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development tsx server/services/leave/main.ts"

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 3002
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 34203
externalPort = 5173

[[ports]]
localPort = 35789
externalPort = 3001

[[ports]]
localPort = 35843
externalPort = 6000

[[ports]]
localPort = 37697
externalPort = 8000

[[ports]]
localPort = 40091
externalPort = 5000

[[ports]]
localPort = 40873
externalPort = 6800

[[ports]]
localPort = 41669
externalPort = 3003
